[Desktop Entry]
Encoding=UTF-8
Name=Action Bar Style
Type=Link
URL=http://jgilfelt.github.io/android-actionbarstylegenerator/#name=Illumina&compat=appcompat&theme=dark&actionbarstyle=transparent&texture=0&hairline=0&neutralPressed=0&backColor=2D2D2D%2C100&secondaryColor=151515%2C100&tabColor=9c0%2C100&tertiaryColor=303030%2C100&accentColor=9c0%2C100&cabBackColor=002E3E%2C100&cabHighlightColor=9c0%2C100
Icon=text-html
Name[de_DE]=actionbar-style
