[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Light Bulb 10
Type=Link
URL=http://simpleicon.com/light-bulb-10.html
Icon=text-html
Name[de_DE]=icon-source
