[Desktop Entry]
Encoding=UTF-8
Name=Android Switch Backport
Type=Link
URL=https://github.com/BoD/android-switch-backport
Icon=text-html
Name[de_DE]=android-switch-backport
